.container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.image-container{
    width: 100%;
    background-color: rgba(17, 15, 15, 0.491);
    padding: 4rem;
    box-shadow: 1px .2px 5px rgba(78, 76, 76, 0.356);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 10px;
}
.text{
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;
    color: rgb(255, 254, 253);
}

.nonFavorites{
    height:60vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textNoFavorites{
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
    padding: 20px 100px;
    background-color: rgb(87, 83, 83);
    box-shadow: 1px 1px 3px 2px rgba(248, 238, 238, 0.356);
}

.image{
    opacity: 0.06;
}
